


    <div class="container">
        <h1 class="text-center mb-4">About Us</h1>
        <div class="row">
            <div class="col-md-6">
                <div class="card mb-4">
                        <div class="card-body">
                        <h5 class="card-title">Vishwaa M</h5>
                        <p class="card-text">Frontend Developer</p>
                        <p><b>Skills:</b>  Proficient in HTML, CSS, Angular, and JavaScript.</p>
                        <p><b>Contributions:</b> Created intuitive and responsive user interfaces. Implemented frontend functionalities aligned with project requirements.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card mb-4">
                    <div class="card-body">
                        <h5 class="card-title">Logesh R</h5>
                        <p class="card-text">Backend Developer</p>
                        <p><b>Skills:</b> Experienced in Java, Spring Boot, Hibernate, and RESTful APIs.</p>
                        <p><b>Contributions:</b>Developed robust backend functionalities for efficient data management. Implemented RESTful APIs and optimized database design for performance.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card mb-4">
                    <div class="card-body">
                        <h5 class="card-title">Jeevan Sanjay</h5>
                        <p class="card-text">Quality Assurance Engineer</p>
                        <p><b>Skills:</b>Proficient in testing methodologies, automated testing tools.</p>
                        <p><b>Contributions:</b> Conducted rigorous testing, ensuring the reliability and quality of the application. Implemented and maintained test cases and automation scripts.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card mb-4">
                    <div class="card-body">
                        <h5 class="card-title">Venkat theeban</h5>
                        <p class="card-text">Project Manager</p>
                        <p><b>Contributions:</b>: Led project planning, scheduling, and resource allocation. Ensured effective team coordination and communication. Managed project milestones and deadlines.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

